* {
    font-family: Noto Sans, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #D9CF8B;
    height: 250px;
    
}

.title-header {
    color: white;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    padding-top: 2%;
}

.subtitle-header {
    text-align: center;
}